<div class="row">
  <div class="col-xs-6">
    {{#link-to 'cake' this class="thumbnail"}}
      <img {{bind-attr src=primaryPhoto.largeUrl}} {{bind-attr alt=name}} />
    {{/link-to}}
  </div>
  <div class="col-xs-6">
    <h1>{{#link-to 'cake' this}}{{name}}{{/link-to}}</h1>
    <p>By {{author.name}}</p>
    <p>Published: {{formatted-date createdAt }}</p>
    <p><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> {{category.name}}</p>
    <p>{{description}}</p>

  </div>
</div>
{{#if 'photos.length === 1'}}
<div class="row">
  {{#each photos}}
  <div class="col-sm-2 col-md-2">
    <a class="thumbnail">
      <img {{bind-attr src=thumbUrl}} {{bind-attr alt=name}} {{action 'selectPhoto' this}}>
    </a>
  </div>
  {{/each}}
</div>
{{/if}}
{{outlet}}
