<div class="row">
  <div class="sm-col-12 md-col-12 lg-col-12">
    <h1>{{heading}}</h1>
    <img {{bind-attr src=imageUrl}} {{bind-attr alt=heading}} >
    <p>{{description}}</p>

    <a {{bind-attr href=url}}>View Original</a>
  </div>
</div>
